nfs:
  server:
    exports: 
      /srv/homes: "*(rw,fsid=0,sync)"
  mount:
    debianhome:
      mountpoint: "/srv/mapped-homes/debian"
      location: "debian:/srv/homes"
      opts: "vers=3,rsize=65535,wsize=65535"
      persist: True
      mkmnt: True
    ubuntuhome:
      mountpoint: "/srv/mapped-homes/ubuntu"
      location: "ubuntu:/srv/homes"
      opts: "vers=3,rsize=65535,wsize=65535"
      persist: True
      mkmnt: True
    centoshome:
      mountpoint: "/srv/mapped-homes/centos"
      location: "centos:/srv/homes"
      opts: "vers=3,rsize=65535,wsize=65535"
      persist: True
      mkmnt: True
  unmount:
    someothername:
      mountpoint: "/some/other/path"
      location: "hostname:/other/path"
      persist: False

