nfs:
  # Global settings:
  mkmnt: False
  mount_opts: noauto,ro
  persist_unmount: True
  persist_mount: False
  
  # Server settings
  server:
    exports: 
      /srv/homes: "hostname1(rw,sync,no_subtree_check) hostname2(ro,sync,no_subtree_check)"
    # FreeBSD specific:
    mountd_flags: -l -S

  # mount settings
  mount:
    debianhome:
      mountpoint: "/srv/mapped-homes/debian"
      location: "debian:/srv/homes"
      opts: "vers=3,rsize=65535,wsize=65535"
      persist: True
      mkmnt: True
    ubuntuhome:
      mountpoint: "/srv/mapped-homes/ubuntu"
      location: "ubuntu:/srv/homes"
      opts: "vers=3,rsize=65535,wsize=65535"
      persist: True
      mkmnt: True
    centoshome:
      mountpoint: "/srv/mapped-homes/centos"
      location: "centos:/srv/homes"
      opts: "vers=3,rsize=65535,wsize=65535"
      persist: True
      mkmnt: True
  unmount:
    someothername:
      mountpoint: "/some/other/path"
      location: "hostname:/other/path"
      persist: False

